@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #1c3255;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #902da8;
}

#projects {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 3fr 2fr;
      grid-template-rows: 1fr 3fr 2fr;
      grid-template-areas: "title title" "project video" "img img";
}

#projects .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
}

#projects .project {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: project;
  padding: 1.5rem 2rem;
  place-self: end;
  width: 60%;
  font-size: 1.50rem;
  line-height: 1.60rem;
  text-shadow: 0 1px 0 black;
  font-family: 'Peddana', serif;
}

#projects .project .descrip {
  text-indent: 2rem;
}

#projects .project .link {
  text-align: center;
}

#projects .project .link span {
  display: block;
  font-size: 3rem;
  margin: 2rem 0.5rem;
}

#projects .video {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: video;
  place-self: center;
}

#projects .video video {
  -webkit-box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, 0.4);
}

#projects .img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  place-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

#projects .img img {
  max-width: 20%;
  border: 3px solid white;
  -webkit-box-shadow: 7px 7px 47px -12px rgba(0, 0, 0, 0.6);
          box-shadow: 7px 7px 47px -12px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 800px) {
  #projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2fr 3fr;
        grid-template-rows: 1fr 2fr 2fr 3fr;
        grid-template-areas: "title" "project" "video" "img";
  }
  #projects .project {
    width: 100%;
    margin: 3rem 0;
  }
  #projects .project .descrip {
    padding: 0 3rem;
  }
  #projects .video {
    margin: 2rem 0;
  }
  #projects .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #projects .img img {
    max-width: 50%;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */