@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');


html, body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background:#1c3255;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;

    background-image: repeating-linear-gradient(transparent, transparent 50px, purple 50px, purple 53px, transparent 53px, transparent 63px, purple 63px, purple 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),  
  repeating-linear-gradient(270deg, transparent, transparent 50px, purple 50px, purple 53px, transparent 53px, transparent 63px, purple 63px, purple 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(144, 45, 168);
}

// #header{
//     height: 100vh;
//     width: 100vw;
//     background: rgb(62, 83, 207);
//     color: black;
//     display: flex;

//     .about{
//         width:60vw;
//         padding: 3rem 2rem;
//     }

//     .about_img{
//         height: 100vh;
//         width: 40vw;
//         background-image:url("/img/pic.jpg") ;
//         position: relative;

//         nav{
//             position: absolute;
//             width: 100%;
//             display: flex;
//             background: rgba(0, 0, 0, 0.65);
//             color: rgb(88,88,44);
    
//             ul{
//                 width: 100%;
//                 display: flex;
//                 justify-content: space-around;
//                 list-style: none;
//             }
//         }
    
      
//     }
// }


// nav{
//     position: sticky;
//     width: 100%;
//     display: flex;
// }

#projects{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 3fr 2fr;
    grid-template-areas: 
    
    "title title"
    "project video"
    "img img"
    
    ;

    .title{
        grid-area: title;
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
    }

    .project{
        grid-area: project;
        padding:1.5rem 2rem;
        place-self: end;
        width:60%;
        font-size: 1.50rem;
        line-height:1.60rem;
        text-shadow: 0 1px 0 black;
        font-family: 'Peddana', serif;
        background: rgba($color: #000000, $alpha: 0.4);
        backdrop-filter: blur(3px);

        .descrip{
            text-indent: 2rem;
        }

        .link{
            text-align: center;

            span{
                display: block;
                font-size: 3rem;
                margin: 2rem 0.5rem;
            }
        }
    }

    .video{

        grid-area: video;
        place-self: center;

        video{
            box-shadow: 1px 1px 13px 2px rgba(0, 0, 0, .4);
        }

    }

    .img{
        grid-area: img;
        place-self: center;
        display: flex;
        justify-content: space-around;
        width:70%;

        
        img{ 
            max-width: 20%;
            border: 3px solid white;
            box-shadow: 7px 7px 47px -12px rgba(0,0,0,0.6);

        }

    }

}

@media screen and (max-width: 800px) {
    

    #projects{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 3fr;
    grid-template-areas: 
    
    "title"
    "project"
    "video"
    "img"
    ;


    .project{
        width: 100%;
        margin: 3rem 0;

        .descrip{
            padding: 0 3rem;
        }
    }

    .video{
        margin: 2rem 0;
    }

    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        img{
            max-width: 50%;
            margin-bottom: 3rem;
        }
    }
  }
}